@import '../../../styles/global.module';

.comicPagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $spacer;
  background-color: rgba(0, 0, 0, 0.8);

  nav {
    ul {
      margin: 0;

      a {
        background-color: $secondary;
        border-color: rgba(255, 255, 255, 0.2);
        color: #fff;

        &:hover {
          background-color: #222;
          color: #fff;
        }
      }

      .pageDisabled a, .pageDisabled a:hover {
        background-color: $secondary !important;
        border-color: rgba(255, 255, 255, 0.2) !important;
        color: rgba(255, 255, 255, 0.1) !important;
        cursor: not-allowed !important;
      }
    }
  }
}