@import '../../../styles/global.module';

.imageContainer {
  position: relative;
  display: inline-block;

  &:hover {
    cursor: pointer;

    .imageCaptionContainer {
      display: block;
    }
  }

  .imageCaptionContainer {
    text-align: center;
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border: solid 1px green;


    title, .imageCaption, span {
      display: block;
    }

    .imageCaption {
      text-align: center;
      margin: 0;
      position: absolute;
      width: 100%;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: $spacer;
    }

    title {
      color: green
    }

    span {
      color: pink
    }
  }
}